:root {
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;


  color: #20292E;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background-color: #F2F2F2;

}

  body{
    margin: 0;
  }


